@media print {

    .no-print, .no-print *
    {
        display: none !important;
    }

    .site-navigation {
        margin-top: 0px;
        padding: 0px;
    }
    .post {
        margin: 0px;
        max-width: 95%;
        padding: 0%;
    }

    .post > h1 {
        font-size: 1em;
        /* max-width: 80%; */
        /* padding: 2em 1em; */
        text-align: center;
    }
    
    
}