---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
       {{ page.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2>
        {{ page.description }}
      </h2>
    {% endif %}
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

  {% for category in site.categories %}
  
  {% if category[0] == page.list_type %}

    {% if page.list_type != '404' %}
      <h1 class="content-title divided">
        Contents
      </h1>
    {% for post in category[1] %}
    <ul class="post-list">
      <a href="{{ post.url }}">{{ post.title }}</a> </ul>
    {% endfor %}
    {% endif %}
  
  {% endif %}


  {% endfor %}


  
    

</main>